<br/>
<div class="container">
    <table id="crimeTable"></table>
</div>

<script>
    $(document).ready(function () {
        $('#crimeTable').dataTable({
            serverSide: true,
            ajax: "/crime/pagedata",
            columns: [
                {
                    name: 'postNumber',
                    data: 'postNumber',
                    title: "PostNumber",
                    sortable: true,
                    searchable: false
                },
                {
                    name: 'category',
                    data: 'category',
                    title: "Category",
                    sortable: true,
                    searchable: false
                },
                {
                    name: 'date',
                    data: "date",
                    title: "Date",
                    sortable: false,
                    searchable: false
                }
                ,
                {
                    name: 'dayPart',
                    data: "dayPart",
                    title: "DayPart",
                    sortable: false,
                    searchable: false
                }
            ]
        });
    });
</script>
